.contributors {
    max-width: 1100px;
    margin: 100px auto;
    text-align: center;
}

.contributors h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.subtitle {
    color: #777;
    margin-bottom: 50px;
}

/* Grid */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

/* Card */
.card {
    background: #fff;
    padding: 35px 25px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.card h3 {
    margin: 8px 0 5px;
}

.card p {
    color: #666;
    font-size: 15px;
}

.avatar {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20%;     /* circle */
    object-fit: cover;     /* avoid distortion */
}
